AUTOSTART_USER=user
AUTOSTART_GROUP=user
AUTOSTART_HOME=/home/user
AUTOSTART_DIR=/home/user/autostart
AUTOSTART_UID=1000
AUTOSTART_CONDA_BIN=/home/user/conda/bin/conda
AUTOSTART_HIDDIFY_APPIMAGE=/home/user/Downloads/Hiddify-Linux-x64.AppImage
