[Desktop Entry]
Type=Application
Name=Tuna SSH Autostart
Comment=Open a terminal with tuna ssh and send a boot report by email
Exec={{AUTOSTART_DIR}}/autostart_tuna.sh
Terminal=false
X-GNOME-Autostart-enabled=true
